body {
  margin: 0;
  padding: 0;

  background-color: #e8e8f3;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.section {
  margin-top: 72px;
  padding: 32px;
}

.section .section__title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.section .section__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.palette-item {
  cursor: pointer;

  height: 64px;
  width: 64px;
  margin: 32px;
  border-radius: 8px;

  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);

  transition: all .3s ease 0s;
}

.palette-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #e84545;
}

a:visited {
  color: #53354a;
}