body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  border: 2px solid #091133;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 11px 53px;
}

button.dark {
  color: #fff;
  background: #111b47;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

p {
  color: #505f98;
  margin-bottom: 69px;
}

input {
  padding: 8px 16px;
  font-size: 24px;
  width: 100%;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 72px 0;
}