@import './constants.scss';
@import './breakpoints.scss';
@import './reset.scss';
@import './header.scss';
@import './footer.scss';

.container {
  @include xs {
    padding: 0 16px;
  }

  max-width: 720px;
  margin: 16px auto;

  section {
    text-align: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 16px;
    }

    img {
      margin: 16px 0;
      width: 100%;
    }

  }

}